stages:
  - dependances-stage
  - type-stage
  - analyse-stage
  - package-stage
  - tests-stage
  - artifact-stage

image: node:latest

before_script:
  - curl -f https://get.pnpm.io/v6.16.js | node - add --global pnpm@7
  - pnpm config set store-dir .pnpm-store


dependances-job:
  stage: dependances-stage
  script:
    - echo "Installation des dépendances du projet"
    - pnpm install 
  cache:
    paths:
      - "node_modules"

type-job:
  stage: type-stage
  script:
    - echo "Vérification du typage statique du code" 
    - pnpm type-check

analyse-job:
  stage: analyse-stage
  script:
    - echo "Analyse statique du code"
    - pnpm eslint . --ext .vue,.js,.jsx,.cjs,.mjs,.ts,.tsx,.cts,.mts --fix --ignore-path .gitignore

package-job:
  stage: package-stage
  script:
    - echo "Construction du package à déployer" 
    - pnpm vit build
    - echo "Lancement du package créé" 
    - pnpm vite preview

tests-job:
  stage: tests-stage
  script:
    - echo "Execution des tests"
    - pnpm vitest

artifact-job:
  stage: artifact-stage
  script:
    - echo "Publication de l'artifact"
