name: CI

on:
 push:
  branches:
    - main
    - lab9
 workflow_dispatch:

env:
  BUILD_ARTIFACT_NAME: "package"
  APP_LOCATION: "./dist" # location of your client code
  APP_ARTIFACT_LOCATION: "./dist" # location of client code build output

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - name: checkout
       uses: actions/checkout@v3
       
     - name: setup pnpm
       uses: pnpm/action-setup@v2
       with:
        version: latest
        
     - name: setup node
       uses: actions/setup-node@v3
       with:
        node-version: latest
        cache: pnpm
        
     - name: build
       run: |
        pnpm install --no-frozen-lockfile
        pnpm build

     - name: analyses
       if: github.event_name == 'pull_request'
       run: |
        pnpm type-check 
        pnpm lint

     - name: unit tests
       if: github.event_name == 'pull_request'
       run: pnpm test

     - name: artifact
       uses: actions/upload-artifact@v3
       with:
        name: ${{env.BUILD_ARTIFACT_NAME}}
        path: dist/*
        
     - name: deploy-qa
       if: github.event_name == 'workflow_dispatch'
       uses: Azure/static-web-apps-deploy@v1
       with:
        skip_app_build: true
        action: upload
        azure_static_web_apps_api_token: secrets.AZURE_QA_DEPLOY_TOKEN
        app_artifact_location: github.workspace

     - name: deploy-prod
       if: github.event_name == 'workflow_dispatch'
       uses: Azure/static-web-apps-deploy@1a947af9992250f3bc2e68ad0754c0b0c11566c9
       with:
        skip_app_build: true
        action: upload
        azure_static_web_apps_api_token: secrets.AZURE_PROD_DEPLOY_TOKEN
        app_artifact_location: github.workspace
        
