name: CI

on:
 push:
  branches:
    - main
    - lab9
 workflow_dispatch:

env:
  BUILD_ARTIFACT_NAME: "package"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - name: checkout
       uses: actions/checkout@v3
       
     - name: setup pnpm
       uses: pnpm/action-setup@v2
       with:
        version: latest
        
     - name: setup node
       uses: actions/setup-node@v3
       with:
        node-version: latest
        cache: pnpm
        
     - name: build
       run: |
        pnpm install --no-frozen-lockfile
        pnpm build

     - name: analyses
       if: github.event_name == 'pull_request'
       run: |
        pnpm type-check 
        pnpm lint

     - name: unit tests
       if: github.event_name == 'pull_request'
       run: pnpm test

     - name: artifact
       uses: actions/upload-artifact@v3
       with:
        name: ${{env.BUILD_ARTIFACT_NAME}}
        path: dist/*
        
     - name: deploy-qa
       if: igthub.event_name == 'workflow_dispatch'
       env:
        name: qa
        url: https://lemon-sky-0ff19c110.2.azurestaticapps.net
       run: pnpm dlx @azure/static-web-apps-cli deploy ./dist --app-name stapp-vue2048-qa --env=production
       
     - name: deploy-prod
       if: igthub.event_name == 'workflow_dispatch'
       env:
        name: production
        url: https://delightful-mushroom-03f3a5d03.2.azurestaticapps.net
       run: pnpm dlx @azure/static-web-apps-cli deploy ./dist --app-name stapp-vue2048-prod --env=production
        
